h1 {
  margin-top: 1em;
}

.show-grid {
  margin-bottom: 1em;
}
.show-grid .show-grid {
  margin-bottom: 0;
}

.show-grid .col {
  background-color: rgba(184, 107, 107, 0.2);
  border: 1px solid #baaeae;
  padding: 1em;
}
